body {
	font-family: 'Consolas', sans-serif !important;
	background: linear-gradient(to top left, #bbffff, #FFBBBB);
	margin: 0;
	padding: 0;
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-position: left top;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif !important;
}
.navbar-brand {
	font-size: 1.6rem;
}

.navbar-toggler {
	border: 0;
	border-radius: 50%;
}



.bg-twh, .bg-twh * {
	background: rgba(255,255,255,0.1);
}

.bg-twh .active {
	background: rgba(255,255,255,0.3);
}

.bg-twh .btn {
	/* background: rgba(255,255,255,0.3); */
	background: linear-gradient(to top left, rgba(255,255,255,0.7), rgba(255,255,255,0.05));
}

.btn-liked {
	color: blue !important;
}

.nav-link:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,0.1) 85%, rgba(185,255,255,1) 15%);	
}
.nav-link.active:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,0.3) 85%, rgba(185,255,255,1) 15%);	
}

.btn-github {
	background: linear-gradient(to top left, #FFBBBB, #bbffff);	
}

.todont-app-content ul {
	list-style: none;
}

.btn-secondary:hover {
	color: #ffbbbb;
	background: #bbfbfb !important;
	border-color: white;
}
.todont-add-btn {
	color: black;
	background: #bbffff !important;
}
.btn-secondary {
	color: black;
	background: #bbffff !important;
}

.btn-github {
	background: linear-gradient(to left, white, #bbffff) !important;	
}

.todont {
	padding: 8px;
}

.colorpicker-app-content {
	background: white !important;
	padding: 20px;
	border: 2px solid rgba(255,185,185,0.3);
}

.garbage-icon {
	font-size: 5rem;
	padding: 30px;
}
