.todont-app-content ul {
	list-style: none;
}

.btn-secondary:hover {
	color: #ffbbbb;
	background: #bbfbfb !important;
	border-color: white;
}
.todont-add-btn {
	color: black;
	background: #bbffff !important;
}
.btn-secondary {
	color: black;
	background: #bbffff !important;
}